---
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import Badge from '~/components/ui/Badge.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends HTMLAttributes<'li'> {
  category?: string,
  demoUrl?: string,
  description: string,
  heading: string,
  href: string,
  image?: {
    alt: string | null,
    src: ImageMetadata
  }
  steamUrl?: string
};

const { category, demoUrl, description, heading, href, image, steamUrl }: Props = Astro.props;
---

<li class="group/card h-full grid grid-cols-1 md:grid-cols-3 justify-end gap-4 p-4 rounded-xl bg-neutral-950 border-transparent border-2 focus-within:border-white">
  <div class="flex justify-center md:col-span-1">
    { image && (
      <Image
        alt={image.alt}
        class="object-cover aspect-video w-full rounded-md opacity-75 group-hover/card:opacity-100 group-focus/card:opacity-100 transition duration-300"
        format="webp"
        width={412}
        src={image.src}
        loading="lazy"
      />
    )}
  </div>

  <article class="flex flex-col gap-2 md:gap-4 md:col-span-2">
    <div class="flex gap-3">
      <Badge label={category ?? 'Uncategorised'} />
      <h3 class="text-lg md:text-xl font-semibold">{heading}</h3>
    </div>

    <p class="text-sm">{description}</p>
    <div class:list={['flex mt-auto', demoUrl || steamUrl ? 'gap-2 md:gap-4 justify-between md:justify-start' : '' ]}>
      <Button
        ariaLabel={`Learn more about ${heading}`}
        buttonStyle='primary'
        buttonText='Learn more'
        class="w-full md:w-fit"
        href={href}
      />
      { demoUrl && (
        <Button
          ariaLabel={`Open demo of ${heading} in a new tab`}
          buttonStyle='link'
          buttonText='View demo'
          class="w-full md:w-fit"
          href={demoUrl}
          icon='ri:arrow-right-line'
          iconAnimate={true}
          iconSize={21}
          openNewTab={true}
        />
      )}
      { steamUrl && (
        <Button
          ariaLabel={`Open ${heading} on Steam Workshop in a new tab`}
          buttonStyle='link'
          buttonText='View on Steam'
          class="w-full md:w-fit gap-3"
          href={steamUrl}
          icon='simple-icons:steam'
          iconSize={21}
          openNewTab={true}
        />
      )}
    </div>
  </article>
</li>
