---
import { Image, Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Base from '~/layouts/Base.astro';
import RecentEntriesList from '~/components/collections/RecentEntriesList.astro';
import Button from '~/components/ui/Button.astro';
import HeroImage from '~/assets/jpg/dan-cristian-padure-faAKGPMOqWA-unsplash.jpg';
import ProjectsImage from '~/assets/jpg/rahul-mishra-XXMA-8fBB-g-unsplash.jpg';
import FeaturedImage from '~/content/posts/images/claudio-schwarz-pQ_SEJg8rII-unsplash.jpg';
---

<Base
  title="Home"
  description="Hi, I'm Karl. I build cool web things, and share whatever I'm learning or thinking about."
>

<div class="grid grid-cols-1 md:grid-cols-[1fr_368px_368px_1fr] gap-4 md:gap-8 mt-4 mb-8 md:min-h-[calc(100vh-126px)]">

  {/* 1st Card */}
  <div class="relative col-span-1 md:col-span-3 min-h-32 flex flex-col justify-center items-start md:items-end p-4 md:p-0 md:py-8 mr-4 gap-4 rounded-r-xl bg-neutral-900 overflow-hidden hover:shadow-sm transition duration-300">
    <Picture
      src={HeroImage}
      alt=""
      role="presentation"
      widths={[480, 728]}
      sizes={`(max-width: 728px) 480px, 728px`}
      formats={['webp']}
      loading="eager"
      class="absolute right-0 top-0 h-full object-cover mix-blend-luminosity opacity-35 md:w-3/4 md:mask-l-from-50%"
    />
    <section class="flex flex-col gap-2 md:w-[736px] z-5 text-sm font-mono lowercase">
      <h1 class="md:mb-2 text-2xl md:text-4xl font-semibold">
        Karl's blog and projects
      </h1>
      <p>Hi, I'm Karl. I build cool web things, and share whatever I'm learning or thinking about.</p>
      <Button
        buttonStyle='link'
        buttonText='Get in touch'
        href={`${Astro.site}contact`}
        icon='ri:arrow-right-line'
        iconAnimate={true}
        iconSize={18}
      />
    </section>
  </div>

  {/* Dummy */}
  <div class="hidden md:block"></div>

  {/* Dummy */}
  <div class="hidden md:block"></div>

  {/* 2nd Card */}
  <div class="md:max-w-[368px] md:col-span-1 md:row-span-2 flex flex-col justify-center gap-2 p-4 md:p-0 md:pl-4 ml-4 md:ml-0 rounded-l-xl md:rounded-xl bg-neutral-900 md:bg-transparent ">
    <h2 class="text-2xl font-semibold pb-2 border-b-2 border-neutral-600">Latest posts</h2>
    <RecentEntriesList contentCollection='posts' maxEntries={3} />
  </div>

  {/* 3rd Card */}
  <a href={`${Astro.site}code/react/pokedex`} class="relative group/card md:col-span-2 min-h-80 md:min-h-56 md:max-w-88 flex flex-col justify-end ml-auto mr-4 sm:ml-0 md:mr-auto bg-neutral-800 rounded-r-xl md:rounded-xl">
    <div class="absolute inset-0">
      <Picture
        src={FeaturedImage}
        alt="a series of typography works"
        widths={[480]}
        sizes={`480px`}
        formats={['webp']}
        loading="eager"
        class="object-cover h-full w-full opacity-75 rounded-r-xl md:rounded-xl"
      />
    </div>
    
    <div class="flex justify-between gap-2 p-4 z-5 bg-neutral-800/75 rounded-r-xl md:rounded-none md:rounded-b-xl group-hover/card:backdrop-blur-xs group-focus/card:bg-pink-300 group-focus/card:outline-2 group-focus/card:text-black transition duration-300">
      <div class="flex flex-col gap-2">
        <h2 class="mr-auto text-2xl font-semibold leading-none border-b-2 border-transparent group-hover/card:border-neutral-50 group-focus/card:border-neutral-900 transition duration-300">Featured project</h2>
        <p class="md:text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius</p>
      </div>
      <Icon name="ri:arrow-right-line" height={24} width={24} class="min-w-8"/>
    </div>
  </a>

  {/* 4th Card */}
  <a href={`${Astro.site}code`} class="relative group/card md:col-span-2 min-h-80 md:min-h-56 flex flex-col justify-end ml-4 md:ml-0 rounded-l-xl bg-neutral-800 overflow-hidden transition duration-300">
    <div class="absolute inset-0 md:left-0 xl:w-2/3">
      <Picture
        src={ProjectsImage}
        alt="computer screen with the software vs code open"
        widths={[480]}
        sizes={`480px`}
        formats={['webp']}
        loading="eager"
        class="object-cover h-full w-full md:mask-r-from-25% opacity-75"
      />
    </div>

    <div class="flex justify-between gap-2 p-4 md:max-w-88 z-5 bg-neutral-800/75 rounded-l-xl md:rounded-tr-xl md:rounded-tl-none group-hover/card:backdrop-blur-xs group-focus/card:bg-pink-300 group-focus/card:outline-2 group-focus/card:text-black transition duration-300">
      <div class="flex flex-col gap-2">
        <h2 class="mr-auto text-2xl font-semibold leading-none border-b-2 border-transparent group-hover/card:border-neutral-50 group-focus/card:border-neutral-900 transition duration-300">View all projects</h2>
        <p class="md:text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, dolor sit sed do eius</p>
      </div>
      <Icon name="ri:arrow-right-line" height={24} width={24} class="min-w-8"/>
    </div>
  </a>
</div>

</Base>

