---
import { siteConfig } from "~/site.config";

const siteNavigation = [
  {
    label: "Index",
    href: siteConfig.url,
  },
  {
    label: "About",
    href: `${siteConfig.url}about`,
  },
  {
    label: "Blog",
    href: `${siteConfig.url}blog`,
  },
  {
    label: "Contact",
    href: `${siteConfig.url}contact`,
  },
];
---

<nav id="site-navigation">
  <ul class="flex flex-row justify-center">
    {
      siteNavigation.map((item, index) => (
        <li class="flex items-center">
          <a
            class="mx-4 leading-4 font-bold lowercase hover:bg-pink-200 dark:hover:text-black"
            href={item.href}
          >
            {item.label}
          </a>
          {index < siteNavigation.length - 1 && <span aria-hidden="true">|</span>}
        </li>
      ))
    }
  </ul>
</nav>
