---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
import { slugify, tagStyles } from '~/utils/collections';

interface Props extends HTMLAttributes<'ul'> {
  tags: string[],
  permalink: string
};

const { permalink, tags, class: className }: Props = Astro.props;
---

<ul class:list={['flex flex-wrap gap-2 px-1 text-sm cursor-default', className]} aria-label="list of tags">
  {tags.map((tag) => {
    const lowerTag = tag.toLowerCase();
    const { color, icon } = tagStyles[lowerTag] ?? { color: 'bg-gray-300 text-black', icon: undefined };

    return (
      <li>
        <a
          class:list={['flex items-center gap-1 px-2 py-1 rounded-md hover:ring ring-pink-300 transition duration-300', color]}
          href={`${Astro.site}${permalink}/${slugify(tag)}`}
        >
            {icon &&
              <Icon name={icon} width={12} height={12} />
            }
            <span class="text-xs font-medium">{lowerTag}</span>
        </a>
      </li>
    );
  })}
</ul>
