---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'a'> {
  ariaLabel?: string,
  buttonStyle?: 'primary' | 'secondary' | 'link' | 'icon' | 'disabled',
  buttonText?: string,
  buttonTextClass?: string,
  buttonTextWrap?: boolean,
  icon?: string,
  iconAnimate?: boolean,
  iconReverse?: boolean,
  iconSize?: number,
  openNewTab?: boolean
};

const { buttonStyle, buttonText, buttonTextClass, buttonTextWrap, icon, iconAnimate, iconReverse, iconSize = 21, openNewTab, ariaLabel, href, class: className, ...rest }: Partial<Props> = Astro.props;

let buttonCSS;
switch (buttonStyle) {
  case 'primary':
    buttonCSS = 'gap-2 px-4 border-2 border-neutral-900 rounded-md bg-neutral-50 hover:bg-transparent hover:border-neutral-200 text-neutral-900 hover:text-neutral-50';
    break;
  case 'secondary':
    buttonCSS = 'gap-2 px-4 border-2 border-neutral-50 rounded-md text-neutral-50 bg-transparent hover:bg-neutral-50 hover:text-neutral-900';
    break;
  case 'link':
    buttonCSS = 'w-fit gap-2 px-0 border-b-2 border-transparent hover:border-neutral-50 focus:rounded-md focus:px-1';
    break;
  case 'icon':
    buttonCSS = 'border-b-2 border-transparent rounded-md hover:backdrop-invert hover:text-neutral-900'
    break;
  case 'disabled':
    buttonCSS = 'gap-2 border-b-2 border-transparent rounded-md text-neutral-600 cursor-not-allowed';
    break;
  default:    
    break;
}

const newTabAttributes = openNewTab ? { target: "_blank", rel: "noreferrer noopener" } : {};
---

<a href={href} class:list={['group/btn flex justify-center items-center p-2 focus:bg-pink-300 focus:text-black focus:border-black transition duration-300 ease-in-out', buttonCSS, iconReverse ? 'flex-row-reverse' : '', className]} aria-label={ariaLabel} {...newTabAttributes} {...rest} >

  <span class:list={['font-medium', buttonTextClass ? buttonTextClass : '', buttonTextWrap ? '' : 'text-nowrap']}>
    {buttonText}
  </span>

  { icon && (
    <Icon
      name={icon}
      height={iconSize}
      width={iconSize}
      class:list={['self-center', iconAnimate ? 'group-hover/btn:-rotate-45 transition-transform duration-300 ease-in-out' : '']}
    />
  )}

</a>
